.navbar-brand{

    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
  
  }
  .navbar{
    padding: 0 0 0.5rem;
  
  }
  .nav-item{
    padding: 0px 18px;
  }
  .nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: lighter;
  }
  body{
    font-family: 'Montserrat';
    margin:0
    /* padding: 0px 18px; */
  }
   #title{
     background: url(veggi2.jpg);
      background-repeat: no-repeat;
     background-size: cover;
     color: #F66B0E;
   }
   h1{
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
     font-size: 2.2rem;
     line-height: 1.5;
     text-align: right;
     width: 39%;
     margin: 10% 0 0 58%;
   }
   h2{
     font-family: "Montserrat";
     font-weight: bold;
     font-size: 1rem;
   }
   h3{
     font-family: "Montserrat";
     font-weight: bold;
     font-size: 1.4rem;
   }
   p{
     color: #8f8f8f;
     font-size: 1.1rem;
   }
  
   .title-text{
     align-items: center;
     text-align: right;
   }
   .container-fluid{
     padding:3% 5% 9%;
   }
  .download-button{
    margin: 7% 3% 2% 0%;
  }
  #features{
    padding:7% 15%;
    background-color: #ffffff;
    position: relative;
  }
  .features-icon{
    font-size: 3.5rem;
    color:#ef8172;
    margin-bottom: 15px;
  }
  .features-icon:hover{
    color:#ff4c68;
  }
  .features-box{
    text-align: center;
  }
  .fmed{
  margin-left: 30%;
  }
  .card{
    margin-left: 30%;
  }
  .card-text{
      text-align: center;
   }
   .card-title{
     text-align: center;
   }
  #seemore{
    height: 6rem;
    width: 10rem;
    margin: 0 auto;
  }
  .btn1{
    background: #ffffff;
   background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
   background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
   background-image: -o-linear-gradient(top, #ffffff, #ffffff);
   background-image: linear-gradient(to bottom, #ffffff, #ffffff);
   -webkit-border-radius: 15;
   -moz-border-radius: 15;
   border-radius: 20px;
    font-family: "Montserrat";
   color: #000000;
   font-size: 20px;
   padding: 10px 20px 10px 27px;
   border: solid #000000 1px;
   text-decoration: none;
  
  }
  
  .btn1:hover {
    background: #de7a7a;
    /* background-image: -webkit-linear-gradient(top, #c3bac3, #9e979e);
    background-image: -moz-linear-gradient(top, #323032, #d9ccd9);
    background-image: -ms-linear-gradient(top, #786578, #c9bbc9);
    background-image: -o-linear-gradient(top, #786578, #c9bbc9);
    background-image: linear-gradient(to bottom, #786578, #c9bbc9); */
    text-decoration: none;
  }
  #testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #ffffff;
  }
  .testimonials-image{
    width:15%;
    border-radius: 10%;
    margin: 30px;
  }
  .carousel-item{
    padding: 7% 15%;
  }
  #footer{
    text-align: center;
    color: #ffffff;
    padding:3% 15%;
  }
  .footer-icon{
     margin:20px 10px;
  }
  .pri-pad{
    padding: 3% 2%;
  }
  @media (max-width: 1020px){
    #title{
      text-align: center;
    }
    .nav-link{
      font-size: 1.3rem;
      font-family: 'Montserrat';
      font-weight: bolder;
    }
    h1{
      text-align: center;
    }
    .fmed{
    margin-left: 30%;
    }
    .card{
      margin-left: 38%;
    }
    .card-text{
      text-align: center;
    }
    .card-title{
      text-align: center;
    }
  }
  